---
---
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DM's portfolio">
    <meta name="author" content="DM">
    <title>Michael Raharison - Développeur</title>
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/johndoe.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    {% include header.html %}
    {% include navbar.html %}
    {% include about.html %}
    {% include resume.html %}
    {% include freelance.html %}
    {% include portfolio-blog-commented.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
